@page

@model JobSearch.Pages.EmployerDetailsModel
@{
    ViewData["Title"] = $"{Model.Employer.Name}'s Details";
}

<form action=""post"">
    <label asp-for="@Model.Employer.Name">Name: </label>
    <input asp-for="@Model.Employer.Name"/>
    <input type="submit" value="Update"/>
</form>

<form asp-page-handler="Create" method="post">
   <input type="submit" value="Add new Listing"/>
   <input type="hidden" name="id" value="@Model.Employer.ID"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Listed</th>
            <th scope="col">Name</th>
            <th scope="col">Number of Applications</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.GetJobListings().Count == 0) 
        {
                <tr><td>No Job Listings found</td></tr>
        }
        else
        {
            foreach (var item in Model.Employer.JobListings)
            {
                <tr asp-validation-summary="ModelOnly">
                    <td>@item.ListingStartDate</td>
                    <td>@item.Name</td>
                    <td>@(((HashSet<JobSearch.Models.JobSeeker>)item.Applied).Count)</td>
                    <td>
                        <a asp-page="./EditJobListing" asp-route-id="@item.ID">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form asp-page-handler="Delete" mwthod="post">
                            <input type="submit" value="Delete"/>
                            <input type="hidden" name="id" value="@item.ID"/>
                        </form>
                    </td>
                </tr>   
            }
        }
    </tbody>
</table>